* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f4f4f4;
}

/* NAVBAR */
nav {
    background: #222;
    color: white;
    padding: 15px 50px;
    display: flex;
    justify-content: space-between;
    align-items:left;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

nav ul li a:hover {
    color: blue
}

.logo {
    color: rgb(92,9,170);
}

/* HOME */

.home {
    height: 90vh;
    background-color: #f5f7fa;   /* light grey */
    color: #222;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.home span {
    color:rgb(92, 9, 170);
}

.home button {
    margin-top: 20px;
    padding: 12px 30px;
    border: none;
    background:white;
    color:black;
    font-size: 16px;
    cursor: pointer;
    scroll-behavior: smooth;

  }

/* SECTIONS */
section {
    padding: 60px 80px;
    text-align: center;
}

section h2 {
    margin-bottom: 20px;
    color: #222;
}

/* SKILLS */
.skills-box {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.skills-box div {
    background:rgb(92,9,170);
    color: white;
    padding: 15px 30px;
    border-radius: 5px;
}

/* PROJECTS */
.project-box {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.project {
    background: white;
    padding: 20px;
    width: 200px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* CONTACT */
#contact p {
    margin: 10px 0;
}

/* FOOTER */
footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 15px;
}